/*body section*/
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/*header section*/
header {
    display: inline-block;
}

nav {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 20px 0px 20px 100px;
  align-items: center;
  justify-content: space-between;
}

.rightnav {
    margin-right: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    
}

/*hero section*/

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.herotext {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.image {
    display: block;
    width: 500px;
    height: 350px;
}

/*main body section*/

.container {
    align-items: center;
}

.container-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: block;
}

.box {
    border: solid;
    border-radius: 10%;
    width: 200px;
    height: 200px;
}
