/*body section*/
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/*header section*/
header {
    display: inline-block;
}

nav {
  display: flex;
  color: #F9FAF8;
  background-color: rgb(66, 130, 194);
  padding: 20px 0px 20px 100px;
  align-items: center;
  justify-content: space-between;
}

.rightnav {
    margin-right: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    
}

/*hero section*/

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.herotext {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.image {
    display: block;
    width: 500px;
    height: 350px;
}

/*main body section*/

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin: 15px;
    max-width: 200px;
    flex-wrap: wrap;
}

.box {
    border: solid rgb(4, 48, 79);
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.card p {
    width: 200px;
}

.info {
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
}
/*quote section*/
.quote {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic #1F2937;
    align-self: flex-end;
    margin-right: 185px;
}

.quote p {
    display: flex;
    flex-wrap: nowrap;
    
}

.quote-text {
width: 800px;
}

.quotesig {

}

/*call to action*/
.call {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
}

.call-header {
    color: white;
}

.call p {
    display: flex;
    justify-self: flex-start;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
}